.team-acco {
  &_pic {
    text-align: center;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  &__img {
    width: rem(100px);
    height: rem(100px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &__item {
    margin-bottom: rem(40px);
    &:last-child {
      margin-bottom: 0;
    }
    &_active {
      .team-acco__trigger {
        color: $yellow;
        &:before {
          transform: rotate(-180deg);
        }
      }
      .team-acco__content {
        display: flex;

        @include tablets {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  &__trigger {
    color: $white;
    font-size: rem(14px);
    @include gagalin;
    text-decoration: none;
    position: relative;
    display: block;
    margin-bottom: rem(20px);

    @include tablets {
      text-align: center;
    }
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: rem(-18px);
      top: rem(5px);
    }
  }
}
